
<app-nav-menu></app-nav-menu>


<app-add-movie (addMovieEvent)="AddMovieEventHander()"></app-add-movie>

<div class="arrangHorizontally">
    <div *ngFor="let movie of movieList">
        <mat-card class="example-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{movie.name}}</mat-card-title>
            <mat-card-subtitle>{{movie.genres}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{movie.coverImage}}" alt="Photo of >{{movie.name}}">
            <mat-card-content>
            <p>
                {{movie.description}}
            </p>
            </mat-card-content>
            <mat-card-actions>
                <b>Rating:</b> <p>{{movie.rating}}</p>
                <b>Released Date:</b><p>{{movie.released_Year|date: 'dd/MM/yyyy'}}</p>
                <button class="btn btn-danger" (click)="removeMovie(movie.id)">Remove</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>
