.example-card {
    max-width: 300px;
    min-width: 300px;
    padding: 10x;
    margin: 5px;
    background-color:rgb(240, 240, 240);
  }
  
  .example-header-image {
    background-image: url('https://image.flaticon.com/icons/svg/1179/1179120.svg');
    background-size: cover;
  }

  
  .arrangHorizontally>*{
      display: inline-block;
      text-align:center;
  }
